#banner {
    background-image: url("sliced.jpg");
}

#menuitems {
    background-color: white;
}

#menu-loaf {
    width: 100%;
    padding-top: 1.5em;
}

p {
    color: #1e1e1e;
    font-weight: 700;
    font-size: 1.2em;
    text-align: center;
    padding-top: 0.5em;
}