body {
    background-color: #1e1e1e;
    width: 100vw;
}

* {
    font-family: 'Roboto', sans-serif;
}

#banner {
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: block;
}

footer p {
    background-color: #1e1e1e;
    color: white;
    font-size: 0.7em;
    text-align: center;
    margin: 2em;
}